
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@*Lab 2*@
<form action="/Student/Register" method="post">
    <div>Id: </div><input name="Id" />
    <div>Name: </div><input name="Name" />
    <div>Mark: </div><input name="Mark" />
    <hr />
    <input type="submit" value="Register" />
</form>