@*@model Lab4.Models.User*@
@{
    ViewBag.Title = "CreatInfo";
}

@*@{ 
    var u = ViewBag.User as Lab4.Models.User
}*@

<h2>CreatInfo</h2>

<p>
    User ID: @ViewBag.User.UserId
</p>
<p>
    User Name: @ViewBag.User.Name
</p>
<p>
    User Address: @ViewBag.User.Address
</p>
<p>
    User Address: @ViewBag.User.Email
</p>