
@{
    ViewBag.Title = "CreatInfo";
}

<h2>Creat</h2>
<br />
<form action="@Url.Action("Creat", "User")" method="post">
    <label>UserID</label><br />
    <input type="text" name="UserId" /><br />
    <label>UserName</label><br />
    <input type="text" name="Name" /><br />
    <label>Address</label><br />
    <input type="text" name="Address" /><br />
    <label>Email</label><br />
    <input type="text" name="Email" /><br />
    <input type="submit" value="submit"/>
</form>