
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post" action="@Url.Action("Create")">
    <div class="form-group">
        <label>UserName</label>
        <input name="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label>FullName</label>
        <input name="FullName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address</label>
        <input name="DiaChi" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
